.servicesMainContainer {
  padding: 4rem 6vw;
  color: white;
}

.sectionHeading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sectionSubheading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #0872BF;
  margin: 0 0 3.5rem 0;
}

.servicesGridContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

/* Responsive Overrides */
@media screen and (max-width: 768px) {
  .servicesMainContainer {
    padding: 3rem 4vw;
  }
  
  .sectionSubheading {
    margin-bottom: 2.5rem;
    font-size: 2rem;
  }
}