.footer {
  color: white;
  padding: 2rem 0;
  width: 100%;
}

.copyrightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1rem;
  width: 100%;
}

.copyrightContainer::before, 
.copyrightContainer::after {
  content: '';
  height: 1px;
  flex: 0 1 150px;
  background-color: rgb(217, 217, 217);
}

@media screen and (max-width: 480px) {
  .copyrightContainer {
    font-size: 0.9rem;
    padding: 0 1rem;
  }
  .copyrightContainer::before, 
  .copyrightContainer::after {
    flex: 0 1 50px;
  }
}