*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  
}
body{
  background-color: #141A1A;
}

.poppins-regular {
}
